// Colors
$turquoise_color: #35B8BE; // Бирюзовый
$dark_turquoise_color: #1B9097; // Тёмно бирюзовый
$black_color: #08090A; // Типо чёрный
$white_color: #ffffff; // Белый 
$dark_color:#28224B; // Тёмный цвет для текста
$grey_text: #546285; // Серый цвет обычного текста
$light_color:  #DDDDDD; // Светленький
$light_color_F: #FAFAFA; // Тоже светленький, но светлее
$real_black: #000000; // Чисто чёрный
$light_color_5: #F5FBFC; // Очередной светлый цвет